sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
before_install:
  - npm i -g npm@^3.10.0
  - npm i -g mocha
  - npm i -g semantic-release
before_script:
  - npm prune
after_success:
  - npm publish
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
