sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
  - '5'
before_install:
  - npm i -g npm@^3.10.0
  - npm i -g mocha
  - npm i -g semantic-release
  - npm i -g istanbul
before_script:
  - npm prune
after_success:
  - npm run coverage
  - if [ "$TRAVIS_BRANCH" == "master" ]; then npm publish; fi
branches:
  only:
  - master
  - develop
